.keyboard {
    display: flex;
    flex-direction: row; 
}

.key-text {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin-top: 240px;
    pointer-events: none;
}